
<div class="container">
  <header>
    <h3 class="main__info mt-5">{{ title__seatList }}</h3>
  </header>
  <div class="plane">
    <div class="cockpit">
      <h1>Airbus A320</h1>
    </div>
    <div class="exit exit--front fuselage"></div>
    <ol class="cabin fuselage">
      <li *ngFor="let row of seats; let i = index" class="row row--{{ i + 1 }}">
        <ol class="seats" type="A">
          <li class="seat" *ngFor="let seat of row; let j = index">
            <input
              type="checkbox"
              class="oneSeat"
              [id]="i + 1 + seatLetters[j]"
            />
            <label
              (click)="toggleSelection(i, j)"
              [ngClass]="{ active: seat }"
              [for]="i + 1 + seatLetters[j]"
              >{{ i + 1 + seatLetters[j] }}</label
            >
          </li>
        </ol>
      </li>
    </ol>
    <div class="exit exit--back fuselage"></div>

    <div class="d-flex flex-wrap">
      <div class="places gap-5" *ngFor="let divData of dataSource"></div>
    </div>
    <button (click)="onAddSeat()" class="btn">Confirm</button>
  </div>
</div>
<div id="content"></div>
