<div class="full_size">
  <div class="panel">
    <div class="row m-0">
      <div class="panel-left col-3 text-white text-center">
        <section class="date-box">
          <p class="mb-1 day">{{ actualDate |date: 'EEEE' }}</p>
          <p class="mb-1 time">{{rxTime | date: 'HH:mm'}}</p>
          <p class="mb-1 date text-muted">{{actualDate | date: 'dd/MM/yyyy'}}</p>
        </section>
        <div class="container mt-1">
          <nav class="menu" id="#menu">
            <button class="btn button" [disabled]="findFlyNav"
                    [ngClass]="findFlyNav === false ? 'button__active' : 'button'">
              <div class="menu-item">
                <i class="bi bi-search"></i>
                <p class="mt-2">Find Fly</p>
              </div>
            </button>

            <button class="btn button" [disabled]="selectFlyNav"
                    [ngClass]="selectFlyNav === false ? 'button__active' : 'button'">
              <div class="menu-item">
                <i class="bi bi-check2-circle"></i>
                <p class="mt-2">Select Fly</p>
              </div>
            </button>
            <button class="btn button" [disabled]="seatsNav"
                    [ngClass]="seatsNav === false ? 'button__active' : 'button'">
              <div class="menu-item">
                <i class="bi bi-person-circle"></i>
                <p class="mt-4">Seats</p>
              </div>
            </button>
            <button class="btn button" [disabled]="passengersNav"
                    [ngClass]="passengersNav === false ? 'button__active' : 'button'">
              <div class="menu-item">
                <i class="bi bi-ticket-detailed"></i>
                <p class="mt-2">Passengers</p>
              </div>
            </button>
            <button class="btn button" [disabled]="reservationNav"
                    [ngClass]="reservationNav === false ? 'button__active' : 'button'">
              <div class="menu-item">
                <i class="bi bi-journal-text"></i>
                <p class="mt-2">Reservation</p>
              </div>
            </button>
          </nav>
          <section class="info-box">
            <h3 class="text-muted m-0">Marcin Ptaszny Mateusz Cieslik</h3>
            <p class="text-muted"> &copy; Copyright 2022</p>
          </section>
        </div>
      </div>


      <div class="panel-right col-9 p-0">
        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
