<div class="container">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First Name" aria-label="First Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Passport" aria-label="Passport">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Seat" aria-label="Seat">
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault"></label>
      </div>
    </div>
  </div>
</div>
