<div class="container-fluid f_text">
  <div class="f_text">System Rezerwacji</div>
  <div class="f_text">Biletów Lotniczych</div>
    <div class="row g-3 findInput">
      <div class="col main__page">
        <form [formGroup]="findFormGroup" (ngSubmit)="onSubmit()">
          <select formControlName="depCitys" class="form-control form-select" required>
            <option selected disabled value="null">Select Departure Airport</option>
            <option *ngFor="let city of depCitys" [ngValue]="city.value">{{city.name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="isSubmitted && getNameValidator('depCitys').errors?.required">
            <sup>*</sup>Please choose your departure City Name
          </div>

          <select formControlName="arrCitys" class="form-control form-select" required>
            <option selected disabled value="null">Select Arrival Airport</option>
            <option *ngFor="let city of arrCitys" [ngValue]="city.value">{{city.name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="isSubmitted && getNameValidator('arrCitys').errors?.required">
            <sup>*</sup>Please choose your Arrival City Name
          </div>

          <mat-form-field class="form-select form-control">
            <mat-label>Departure Date</mat-label>
            <input required matInput [matDatepicker]="picker" formControlName="calendar"/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <select formControlName="depTimes" class="form-control form-select" required>
            <option selected disabled value="null">Select Departure Time</option>
            <option *ngFor="let depTime of depTimes" [ngValue]="depTime.value">{{depTime.name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="isSubmitted && getNameValidator('depTimes').errors?.required">
            <sup>*</sup>Please choose your Departure Time
          </div>

          <select formControlName="selTimes" class="form-control form-select" required>
            <option selected disabled value="null">Select Time</option>
            <option *ngFor="let selTime of selTimes" [ngValue]="selTime.value">{{selTime.name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="isSubmitted && getNameValidator('selTimes').errors?.required">
            <sup>*</sup>Please choose your time
          </div>
          <div class="d-flex justify-content-end ">
            <button type="submit" class="btn btn-warning w-50">{{nextButton}}</button>
          </div>
        </form>
      </div>
    </div>
</div>
