$margin__top__elements: 20px;
$border__choose__seat: 1px solid black;
$border__radius: 15px;


.main__info{
  display: block;
  font-size: 10rem;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.form-select{
  height: 50px !important;
  font-size: 5px;
  background-color: transparent;
  color: white;
  border-radius: $border__radius;
  margin-top: 10px;
}

.form-control{
  height: 40px !important;
  font-size: 10px;
  color: #fff;
}

.btn{
  height: 30px;
  font-size: 1.5rem;
  margin-top: 30px;
  border-radius: $border__radius;
}

.mat-datepicker-toggle{
  color: white;
}

.f_text{
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

mat-label{
  color: rgb(255, 255, 255);
  margin-left: 4px;
}

.calendar {
  margin-top: 1px;
  text-decoration: none;
}

option {
  background-color: #2b2a33;
}



@media(max-width:576px){
.f_text {
  font-size: 25px;
}
}



