$margin__top__elements: 20px;
$border__choose__seat: 1px solid black;
$border__radius: 15px;


.main__info{
  display: block;
  font-size: 10rem;
  color: white;
  margin-bottom: 50px;
}

.form-select{
  height: 50px !important;
  font-size: 5px;
  background-color: transparent;
  color: white;
  border-radius: $border__radius;
  margin-top: 10px;
}

.form-control{
  height: 30px !important;
  font-size: 10px;
}

.btn{
  height: 30px;
  font-size: 1.5rem;
  margin-top: 30px;
  border-radius: $border__radius;
}

.mat-datepicker-toggle{
  color: white;
}

.f_text{
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

mat-label{
  color: white;
}